h3 {
    font-family: 'Lato', sans-serif;
    color: #00a3cc;
}

h1 {
    font-family: 'Lato', sans-serif;
    color: #00a3cc;
}

.centeredBox {
    background-color: white;
    padding: 12px;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
}

.bread {
    margin-top: 15px;
    margin-left: 30px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.blackCentered {
    text-align: center;
}

.greyCentered {
    color: grey;
    text-align: center;
}

#checkinBox {
    background-color: rgb(236, 236, 236);
    padding: 12px;
    /*border: 1px solid grey; */
    align-items: center;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    margin-left: auto;
    margin-right: auto
}
