h1 {
    text-align: center;
}

body {
    text-align: center;
    color: #7FDBFF;
}

.form {
  border: 3px solid #f1f1f1;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

form {
    margin: 20px auto;
    width: 420px;
}
.form-row {
    padding: 5px 10px;
}
label {
    display: block;
    margin: 3px 0;
}
.form-row input {
    padding: 3px 1px;
    width: 220px;
}

#venue_manager {
    display: block;
}

.btn btn-primary btn-lg {
    display: block;
    justify-content: center;
    top: 50%;
    left: 50%;
}

.passwordInput {
    margin-top: 5%;
    text-align: left;
}

.displayBadge {
    color: red;
    margin-top: 5%;
    display: none;
    text-align :center;
}

#StrengthDisp {
    color: red;
}


