h1 {
    font-family: 'Lato', sans-serif;
    color: #00a3cc;
    text-align: center;
}

body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

form {
  border: 3px solid #f1f1f1;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

#login {
  padding: 20px;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: grey;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.container {
  padding: 70px 0px;
  margin: auto;
  width: 50%;
}

.container2 {
    padding: 70px 0px;
    margin: auto;
    width: 50%;
}

.Google {
  color: black;
  background-color: white;
  border: 1px solid black;
}

span.password {
  float: right;
  padding-top: 16px;
}
